.slider h3, .slider h5, .navbar-fixed a, .page-footer {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.8)
}

a {
	text-decoration: none;
	color: red;
}

html a,
html p,
html h3,
html h4,
html h5,
.konten ol,
.batas,
footer {
	font-family: 'Varela Round', sans-serif;
}

.highlight, .opini, .filsafat, .plesir, .kuliner, .random {
	background-image: url(../img/slider/studbee.jpg);
	background-size: 100%;
	background-attachment: fixed;
}

.card {
	opacity: 0.9;
}

.tags {
	color: red;
	font-size: 14px;
}

.highlight p,
.opini p,
.filsafat p,
.plesir p,
.kuliner p,
.random p {
	font-size: 18px;
}

.page-footer {
	padding: 10px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }

  main {
    flex: 1 0 auto;
}

video {
	margin-top: 20px;
}

.batas {
	background-image: url(../img/slider/eric2.jpg);
	background-attachment: fixed;
	background-size: 100%;
	opacity: 50%;
}
